NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PROXYCHEAP_API_KEY=
PROXYCHEAP_API_SECRET=
RESEND_API_KEY=
NEXT_PUBLIC_MARKETING_URL=https://ghostatlas.com
